<h2>All The Cats:</h2>
<ul>
<% @cats.each do |cat| %>
<li><%= cat.name %></li>
<% end %>
</ul>

<table>
    <thead>
        <tr>
            <th colspan="5">Cats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Color</td>
            <td>Birth Date</td>
            <td>Sex</td>
            <td>Description</td>
        </tr>
         <% @cats.each do |cat|%>
        <tr>
           <td> <a href=<%= cat_url(cat.id) %> > <%=cat.name%> </a> </td> 
           <td><%=cat.color%></td>
           <td><%=cat.birth_date%></td>
           <td><%=cat.sex%></td>
           <td><%=cat.description%></td>
        </tr>
         <%end%>
    </tbody>
</table>

